<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<p>Hello {{name}}</p>
	<br>
	<hr>
	{{#each rows}}
	<form action="/user/todolist/delete" method="POST">
	<input type="hidden" name="todo_id" value="{{todo_id}}">
	<p>第{{todo_id}}条</p>
	<p>{{todo_user}}</p>
	<p>{{todo_content}}</p>
	<button type="submit">删除</button>
	</form>
	<hr>
	{{/each}}
</body>
</html>